@import url('https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

.wrapper{
    background-color: darkblue;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
}



.wrapper.frog_bg{
    background-color: #293462;
}

.frog_wrapper{
    display: flex;
    position: relative;

    &:hover > .frog_eyes > .frog_eye::after{
        content: "✦";
        color: white;
        font-size: 20px;
        transform: scale(200%);
    }
}

.frog_eyes{
    display: flex;
    gap: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -50px;
    z-index: 3;
}
.frog_eye{
    height: 150px;
    width: 150px;
    background-color: #FE5F55;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    &::before{
        content: "";
        height: 100px;
        width: 100px;
        background-color: #FFF1C1;
        border-radius: 50%;
    }

    &::after{
        content: "";
        height: 30px;
        width: 30px;
        background-color: #293462;
        position: absolute;
        border-radius: 50%;
        transition: .2s ease-in-out;

        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 5px;
    }
}

.frog_head{
    height: 300px;
    width: 400px;
    border-radius: 150px;
    background-color: #FE5F55;
    overflow: hidden;

    display: flex;
    justify-content: center;

    position: relative;

    &::before{
        content: "";
        width: 100%;
        height: 100%;
        background-color: #FE5F55;
        border-radius: 150px;
        position: absolute;
    }
}


.frog_nose{
    display: flex;
    position: absolute;
    gap: 10px;
    top: 50%;
    z-index: 2;

    &::before{
        content: "";
        border-radius: 50%;
        height: 30px;
        width: 30px;
        background-color: #293462;
    }
    &::after{
        content: "";
        border-radius: 50%;
        height: 30px;
        width: 30px;
        background-color: #293462;
    }
}

.frog_mouth{
    height: 100px;
    width: 100%;
    background-color: #A64942;
    position: absolute;
    bottom: 0;
    bottom: 0;

    &::after{
        content: "";
        height: 50px;
        width: 400px;
        background-color: #FE5F55;
        position: absolute;
        top: -20px;
        border-radius: 0 0 50% 50%;
    }
}



.wrapper.guitar_bg{
    background-color: #F3AC3C;
}
.guitar_wrapper{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.guitar_head{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}
.guitar_head_left , .guitar_head_right{
    border-radius: 50%;
    background-color: #998235;
}
.guitar_head_left{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &::before{
        content: "";
        position: absolute;
        height: 100px;
        width: 30px;
        border-radius: 25px;
        margin-left: -5%;
        background-color: #1A4341;
    }
}
.guitar_head_right{
    height: 250px;
    width: 250px;
    position: absolute;
    margin-left: 200px;

    display: flex;
    justify-content: center;
    align-items: center ;

    &:hover > .guitar_notes > .g_note:nth-child(3){
        transform: translate(-50px , -150px);
        opacity: 1;
    }
    &:hover > .guitar_notes > .g_note:nth-child(2){
        transform: translate(100px , -200px);
        opacity: 1;
    }
    &:hover > .guitar_notes > .g_note:nth-child(1){
        transform: translate(200px , -100px);
        opacity: 1;
    }

    &::before{
        content: "";
        position: absolute;
        height: 100px;
        width: 100px;
        background-color: #1A4341;
        border-radius: 50%;
        border: 10px solid #F3AC3C;

        
    }
}
.guitar_hand{
    width: 500px;
    height: 50px;
    background-color: #1A4341 !important;
    position: relative;
}
.guitar_end{
    height: 60px;
    width: 100px;
    background-color: #998235;
    position: absolute;
    right: -10px;
    top: -5px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    &::before{
        content: "";
        width: 60px;
        height: 10px;
        border-radius: 8px;
        background-color: #1A4341;
    }
    &::after{
        content: "";
        width: 60px;
        height: 10px;
        border-radius: 8px;
        background-color: #1A4341;
    }
}

.guitar_notes{
    display: flex;
    position: relative;
}

.g_note{
    font-size: 70px;
    position: absolute;
    top: -50px;
    left: -20px;
    opacity: 0;
    user-select: none;
    transition: 1.5s ease-in-out;
}


.wrapper.piano_bg{
    background-color: #998235;
}
.piano{
    display: flex;
    height: 300px;
    width: 500px;
    background-color: black;
    border-radius: 10% 10% 10% 10% / 20% 20% 20% 20% ;

    align-items: center;
    justify-content: center;

    position: relative;
}
.piano_black_keys{
    display: flex;
    gap: 30px;
    position: absolute;
    top: 25%;
}
.piano_black_key{
    height: 100px;
    width: 40px;
    background-color: black;
    z-index: 3;

    &:active{
        height: 90px;
    }
}
.piano_black_key:nth-child(3){
    background-color: transparent;
    z-index: 1;
}

.piano_white_keys{
    display: flex;
    gap: 10px;
    bottom: 20px;
    position: absolute;
}
.piano_white_key{
    height: 200px;
    width: 60px;
    z-index: 2;
    background-color: white;
    border-radius: 40% 40% 40% 40% / 10% 10% 10% 10%;

    &:active{
        height: 190px;
    }
}








.skull_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover > .skull > .skull_eyes > .skull_eye:first-child{
        transform: rotateZ(-70deg);
        border-radius: 100% 0% 50% 50% / 50% 0% 100% 50%  ;
    }
    &:hover > .skull > .skull_eyes > .skull_eye:last-child{
        transform: rotateZ(70deg);
        border-radius: 0% 100% 50% 50% / 0% 50% 50% 100% ;
    }
}
.skull{
    height: 300px;
    width: 350px;
    border-radius: 36% 36% 36% 36% / 49% 51% 49% 51% ;
    background-color: white;
    position: absolute;
    z-index: 2;
    border: 20px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
}

.skull_eyes{
    display: flex;
    gap: 50px;
}
.skull_eye{
    background-color: black;
    height: 100px;
    width: 80px;    
    border-radius: 50%;

    transition: .2s;
}
.skull_eye:first-child{
    transform: rotateZ(45deg);
}
.skull_eye:last-child{
    transform: rotateZ(-45deg);
}

.skull_teeth{
    display: flex;
    bottom: 0;
    position: absolute;
    gap: 10px;
}
.skull_tooth{
    height: 50px;
    width: 30px;
    background-color: white;
}

.cross-container {
    position: relative;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bone {
    height: 600px;
    width: 70px;
    background-color: white;
    position: absolute;
    transform-origin: center;
}
.bone:nth-child(1) {
    transform: rotateZ(60deg) translate(-10px);
}
.bone:nth-child(2) {
    transform: rotateZ(-60deg);
}
.bone_item {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
}
.bone:nth-child(1) .bone_item:nth-child(1) {
    left: -5%;
    top: -5%;
    transform: translate(-50%, 0);
}
.bone:nth-child(1) .bone_item:nth-child(2) {
    right: -5%;
    top: -5%;
    transform: translate(50%, 0);
}
.bone:nth-child(1) .bone_item:nth-child(3) {
    left: -5%;
    bottom: -5%;
    transform: translate(-50%, 0);
}
.bone:nth-child(1) .bone_item:nth-child(4) {
    right: -5%;
    bottom: -5%;
    transform: translate(50%, 0);
}
.bone:nth-child(2) .bone_item:nth-child(1) {
    left: -5%;
    top: -5%;
    transform: translate(-50%, 0);
}
.bone:nth-child(2) .bone_item:nth-child(2) {
    right: -5%;
    top: -5%;
    transform: translate(50%, 0);
}
.bone:nth-child(2) .bone_item:nth-child(3) {
    left: -5%;
    bottom: -5%;
    transform: translate(-50%, 0);
}
.bone:nth-child(2) .bone_item:nth-child(4) {
    right: -5%;
    bottom: -5%;
    transform: translate(50%, 0);
}








.wrapper.lamp_bg{
    background-color: #E38F66;
    filter: brightness(50%);
}
.lamp{
    height: 230px;
    width: 230px;
    background-color: #FFFBDA;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    position: absolute;
    z-index: 2;
    transition: .5s;

    filter: brightness(50%);

    &:hover{
        filter: brightness(200%);
        /* box-shadow: 0 0 50px 10px yellow; */
    }
    &:hover ~ .lamp_on{
        box-shadow: 0 0 50px 80px  yellow;
    }
}
.lamp_on{
    height: 230px;
    width: 135px;
    background-color: transparent;
    position: absolute;

    transition: .1s;
}
.lamp_foot{
    height: 300px;
    width: 20px;
    background-color: #62306D;
    position: absolute;
    bottom: 0;
}











.wrapper.adidas_bg{
    background-color: #926927;
}
.adidas_leaves{
    display: flex;
    align-items: center;
    transform: translateX(-150px);

    
    &:hover > .leaf_left{
        transform: translateX(-150px) translateY(50px);
    }
    &:hover > .leaf_right{
        transform: rotateY(180deg) translateY(50px);
        margin-left: 150px;
    }
    &:hover ~ .adidas_text{
        opacity: 1;
    }
}
.adidas_text{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    position: absolute;
    bottom: 10px;
    opacity: 0;
    transition-duration: .5s;
    user-select: none;
}
.main_leaf{
    height: 300px;
    width: 300px;
    border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%;
    transform: rotateZ(45deg);
    background-color: white;
    position: absolute;
    z-index: 2;
}
.leaf_right , .leaf_left{
    position: absolute;
    background-color: #6D480A;
    z-index: 1;
    height: 300px;
    width: 300px;
    border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%;
}
.leaf_left{
    /* margin-right: 300px; */
    padding: absolute;
    transform: translateX(0px) translateY(0px) rotateZ(45deg);
    transition: .5s;
}
.leaf_right{
    margin-left: 0px;
    padding: absolute;
    transform: rotateY(180deg) translateY(0px) rotateZ(45deg);
    transition: .5s;
}

















.wrapper.full_black{
    background-color: black;
}

.pac_game_wrapper{
    display: flex;

    &:hover > .pacman::before{
        animation: pacman_eat .75s infinite;
    }
    &:hover > .pacman{
        animation: pacman_walk 5s linear forwards;
    }
    &:hover > .point_no1{
        animation: point_no1 2s forwards;
    }
    &:hover > .point_no2{
        animation: point_no2 2.5s forwards;
    }
    &:hover > .point_no3{
        animation: point_no3 3s forwards;
    }
}

.pacman{
    transform: translateX(-100px);
    height: 120px;
    width: 120px;
    background-color: #E0E246;
    border-radius: 50%;
    
    &::before{
        content: "";
        position: absolute;
        background-color: black;
        right: -1px;

        height: 100%;
        width: 100%;
        

        clip-path: polygon(50% 43%, 0% 100%, 100% 100%);
        transform: rotateZ(-90deg);
    }
}
@keyframes pacman_eat {
    0%{
        clip-path: polygon(50% 43%, 0% 100%, 100% 100%);
    }
    50%{
        clip-path: circle(0% at 0% 0%);
    }
    100%{
        clip-path: polygon(50% 43%, 0% 100%, 100% 100%);
    }
}
@keyframes pacman_walk {
    0%{
        transform: translateX(-100px);
    }
    50%{
        transform: translateX(350px);
    }
    100%{
        transform: translateX(350px) scale(30%) rotateZ(-90deg);
    }
}
.pac_point{
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    margin: auto;
    margin-inline: 25px;
}
.pac_ghost{
    height: 120px;
    width: 120px;
    background-color: #C74E4E;
    border-radius: 50% 50% 0 0;
    transform: translateX(100px);
    position: relative;
}
.ghost_triangels{
    display: flex;
    position: absolute;
    bottom: 0;
}
.ghost_item{
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: black;
    height: 20px;
    width: calc(120px / 3);
}


@keyframes point_no1 {
    0%{

    }
    100%{
        opacity: 0;
    }
}
@keyframes point_no2 {
    0%{

    }
    100%{
        opacity: 0;
    }
}
@keyframes point_no3 {
    0%{

    }
    100%{
        opacity: 0;
    }
}











.wrapper.pink{
    background-color: #ED6A9D;
}
.cat{
    height: 320px;
    width: 400px;
    border-radius: 50%;
    background-color: #050044;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover > .cat_eyes > .cat_eye::after{
        transform: translateY(-100%);
    }
    &:hover > .cat_mouth{
        opacity: 1;
    }
    &:hover > .cat_ears{
        transform: translateY(0);
    }
}

.cat_ears{
    display: flex;
    position: absolute;
    top: -80px;
    transform: translateY(50px);
    transition: .2s;
    gap: 180px;
 
    & .cat_ear:first-child{
        transform: rotateZ(-40deg);
    }
    & .cat_ear:last-child{
        transform: rotateZ(40deg);
    }
}

.cat_ear{
    background-color: #050044;
    height: 150px;
    width: 120px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.cat_eyes{
    display: flex;
    gap: 50px;
    position: absolute;
    top: 20%;
    overflow: hidden;
}
.cat_eye{
    height: 100px;
    width: 120px;
    background: yellow;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


    &::before{
        content: "";
        background-color: #050044;
        border-radius: 50%;
        height: 80px;
        width: 30px;
    }
    &::after{
        content: "";
        position: absolute;
        width: 130px;
        height: 110px;
        border-radius: 50%;
        transition: .2s;
        transform: translateY(0);
        background-color: #050044;
    }
}

.cat_nose{
    background-color: #ED6A9D;
    border-left: 40px solid #050044;
    border-right: 40px solid #050044;
    border-top: 40px solid #ED6A9D;
    margin-block: auto;
    transform: translateY(30px);
}

.cat_mouth{
    color: #ED6A9D;
    font-size: 100px;
    position: absolute;
    transform: rotateZ(90deg);
    font-family: cursive;
    bottom: 0px;
    opacity: 0;
    transition: .2s ease;
}
















.sharingan_wrapper:hover{
    animation: sharingan_rotate 2s linear infinite;
}
@keyframes sharingan_rotate {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}
.sharingan{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sharingan_eye_parent{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    outline: 10px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}
.sharingan_eye{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
}
.tomoe:first-child{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: -50px;
    transform: rotate(180deg);

    & i{
        font-size: 150px;
        /* -webkit-text-stroke: 1px white; */
        transform: rotateY(180deg) rotateZ(-30deg);
        bottom: -10px;
        left: 15px;
        position: absolute;
    }
}
.tomoe:nth-child(2){
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    bottom: 50px;
    left: -25px;
    transform: rotate(80deg);

    & i{
        font-size: 150px;
        /* -webkit-text-stroke: 1px white; */
        transform: rotateY(180deg) rotateZ(-30deg);
        bottom: -10px;
        left: 15px;
        position: absolute;
    }
}


.tomoe:nth-child(3){
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    bottom: 50px;
    right: -25px;
    z-index: 2;

    & i{
        font-size: 150px;
        /* -webkit-text-stroke: 1px white; */
        transform: rotateY(180deg) rotateZ(-30deg);
        bottom: -10px;
        left: 15px;
        position: absolute;
    }
}










.wrapper.green{
    background-color: #024817;
    overflow: hidden;
}
.ufo_wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;

    &:hover > .ufo_top{
        background-color: gold;
        box-shadow: 0 0 50px 10px yellow;

        &::before{
            background-color: goldenrod;
        }
    }
    &:hover > .ufo_top > .alien{
        display: block;
    }
    &:hover > .ufo_bottom > .ufo_light{
        margin: 100px auto;
        opacity: .7;
    }
}
.ufo{
    background-color: #25834a;
    height: 200px;
    width: 600px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}
.ufo_top{
    position: absolute;
    z-index: 3;
    height: 180px;
    width: 200px;
    background-color: #48bf7d;
    top: -30%;
    border-radius: 50% 50% 20% 20%;
    display: flex;
    align-items: center;
    transition: .2s;

    &::before{
        content: "";
        position: absolute;
        height: 80px;
        width: 200px;
        background-color: #48bf7d;
        bottom: -10%;
        border-radius: 10% 10% 50% 50%;
    }
}
.ufo_bottom{
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: #48bf7d;
    bottom: -15%;
    border-radius: 50% 50% 20% 20%;
    box-shadow: 0 -40px 50px 0px yellow;
    transition: .2s;
    display: flex;
    justify-content: center;
    z-index: 1;

    &::before{
        content: "";
        position: absolute;
        height: 100px;
        width: 200px;
        background-color: #48bf7d;
        bottom: -10%;
        border-radius: 40%;
        z-index: 1;
    }
}
.ufo_light{
    height: 300px;
    width: 150px;
    position: absolute;
    background-color: yellow;
    clip-path: polygon(32% 0, 71% 0, 100% 100%, 0% 100%);
    transition: .2s;
    /* z-index: 0; */
    margin: -100px auto;
    opacity: 0;
}
.alien{
    height: 60%;
    margin: 0 auto;
    display: none;
}
.alien img{
    height: 100%;
}





.wrapper.aqua{
    background-color: #6592cf;
}
.circle_wrapper{
    height: 400px;
    width: 700px;
    background: #243d83;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover > .circle_dark::before{
        animation: circle_dark_anim 1s cubic-bezier(0, 0, 1, 1) infinite;
    }
}
.circle_dark{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: 100px solid #6592cf;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before{
        content: "";
        position: absolute;
        height: 100px;
        border-radius: 50%;
        width: 100px;
        background-color: #eeb850;
    }
}

@keyframes circle_dark_anim {
    0%{

    }
    10%{
        border: 10px solid #243d83;
        outline: 10px solid #eeb850; 
    }
    100%{
        border: 100px solid #243d83;
        outline: 10px solid #eeb850;
    }
}











.wrapper.red{
    background-color: #ac474b;
}
.gift_wrapper{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 50px;

    &:hover > .gift_bow{
        top: -80%;
        transform: rotateZ(60deg) translate(130px, -140px);
    }
}
.gift_bow{
    display: flex;
    transform: translateX(-12px);
    position: absolute;
    top: -100px;
    transition: .5s;

    & .bow_item{
        background-color: white;
        height: 80px;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;

        margin-inline: -7px;

        &:first-child{
            border-radius: 50% 50% 0 50%;

            &::before{
                border-radius: 50% 50% 0 50%;
            }
        }
        &:last-child{
            border-radius: 50% 50% 50% 0;

            &::before{
                border-radius: 50% 50% 50% 0;
            }
        }
        &::before{
            content: "";
            position: absolute;
            height: 40px;
            width: 40px;
            background-color: #ac474b;
            border-radius: 50%;
        }
    }
}
.gift{
    display: flex;
    height: 250px;
    max-width: 250px;
    flex-wrap: wrap;
    width: 100%;
    gap: 25px;
    row-gap: 5px;
    position: relative;

    &::before{
        content: "";
        position: absolute;
        height: 10px;
        width: 100px;
        background-color: white;
        left: 0;
        transition: .5s ease-in-out;
    }
    &::after{
        content: "";
        position: absolute;
        height: 10px;
        width: 100px;
        background-color: white;
        right: 25px;
        transition: .5s ease-in-out;
    }
    & .gift_item{
    height: 100px;
    width: 100px;
    background: white;
    }
    &:hover::before{
        transform: rotateZ(-135deg) translate(80px, -270%);
    }
    &:hover::after{
        transform: rotateZ(135deg) translate(-80px, -270%);
    }
}





.ring_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &:hover > .ring_bottom{
        animation: ring_movement .5s ease-in-out infinite reverse;
    }
    &:hover > .ring{
        animation: bell_swing 1s ease infinite;
    }
}
.ring_top, .ring_bottom {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.ring_top {
    background-color: #f2ad43;
    margin-bottom: -50px;
}
.ring_bottom {
    background-color: #824b20;
    position: absolute;
    bottom: -50px;
    z-index: 1;
}
.ring {
    height: 270px;
    width: 250px;
    border-radius: 250px 250px 50px 50px;
    background-color: #e08027;
    position: relative;
    z-index: 2;
}

@keyframes bell_swing {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes ring_movement {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateY(0);
    }
}





.ice.nature_wrapper{
    /* background-color: #f2ad43; */
    background: url('https://i.ytimg.com/vi/neCMRoyED4I/maxresdefault.jpg');
    background-size: cover;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid white;
    transition: .5s ease-in-out;

    &:hover{
        background-color: #f2ad43;
    }

    &:hover > .sun{
        margin-bottom: 100px;
        background-color: #fff58f;

        &::before{
            opacity: 0;
        }
    }

    &:hover >  .mountain_left{
        filter: brightness(100%);
    }
    &:hover > .mountain_right{
        filter: brightness(100%) !important;
    }
}
.sun{
    height: 80px;
    width: 80px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: .5s ease-in-out;

    margin-bottom: -20px;

    &::before{
        content: "";
        position: absolute;
        transition: .5s ease-in-out;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        background-color: black;
    }
}
.mountain_left,
.mountain_right{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    position: absolute;
    bottom: -100px;
    filter: brightness(50%);
    transition: .5s ease-in-out;
}
.mountain_right{
    background-color: #824b20;
    filter: brightness(50%) !important;
    right: -110px;
}
.mountain_left{
    background-color: #e08027;
    left: -130px;
}








.circle{
    width: 300px;
    height: 300px;
    background: #fff1c1;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    /* display: fl; */
    transition: .5s;

    &:hover{
        backgroundc-color: #fff1c1;
        background-image: url("https://i.pinimg.com/originals/dd/28/1a/dd281a35d76a962191b776394cd06d2c.gif");
        background-size: cover;
        background-position: center;
    }
}
.mountain_small,
.mountain_big{
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: #fe5f55;
    transform: rotate(45deg) translateY(70px) translateX(150px);
}
.mountain_small{
    left: -150px;
    top: 80px;
}







.wrapper.black{
    background-color: #191919;  
}
.stairs{
    width: 200px;
    height: 300px;
    background: #4F77FF;
    border-radius: 150px 150px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
    position: relative;
    overflow: hidden;

    &:hover::before{
        transform: rotateZ(30deg) translateX(0px);
    }

    &::before{
        content: "";
        position: absolute;
        height: 90%;
        transition: 1s ease-in-out;
        bottom: 0;
        transform:  translateX(190px);
        box-shadow: 0px 0 100px 100px yellow;
    }
}
.stair{
    width: 80%;
    height: 50px;
    background-color: #191919;
    position: relative;


    &:nth-child(1){
        width: 20%;
    }
    &:nth-child(2){
        width: 40%;
    }
    &:nth-child(3){
        width: 60%;
    }
}










.ice-wrapper{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.ice{
    background: wheat;
    height: 300px;
    width: 200px;
    border-radius: 200px 200px 100px 100px;
    z-index: 1;
    position: relative;
}
.ice.real_ice{
    &:focus::before , &:focus:after{
        display: block;
    }

    &::before , &::after{
        border-radius: 50%;
        background-color: darkblue;
        display: none;  
    }

    &::before{
        content: "";
        position: absolute;
        height: 100px;
        width: 100px;
        top: -5px;
        left: -20px;
    }
    &::after{
        content: "";
        position: absolute;
        height: 80px;
        width: 80px;
        top: 80px;
        left: -30px;
    }

}
.stick{
    height: 100px;
    width: 50px;
    background: coral;
    border-radius: 0 0 20px 20px;
    bottom: -50px;
    margin: 0 auto;
}
.ice-shadow{
    width: 50px;
    height: 10px;
    margin: 0 auto;
    background-color: rgb(144, 51, 17);
}
